
@font-face {
  font-family: "Rethink Sans:Bold";      
  src: url('../fonts/rethink-sans-bold-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-A0, U+A2-A9, U+AC-AE, U+B0-B7, U+B9-BA, U+BC-BE, U+D7, U+F7, U+2000-206F, U+2074, U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Rethink Sans:Medium";      
  src: url('../fonts/rethink-sans-medium-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-A0, U+A2-A9, U+AC-AE, U+B0-B7, U+B9-BA, U+BC-BE, U+D7, U+F7, U+2000-206F, U+2074, U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Rethink Sans:SemiBold";      
  src: url('../fonts/rethink-sans-semibold-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-A0, U+A2-A9, U+AC-AE, U+B0-B7, U+B9-BA, U+BC-BE, U+D7, U+F7, U+2000-206F, U+2074, U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Rethink Sans:Regular";      
  src: url('../fonts/rethink-sans-regular-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-A0, U+A2-A9, U+AC-AE, U+B0-B7, U+B9-BA, U+BC-BE, U+D7, U+F7, U+2000-206F, U+2074, U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Hedvig Letters Serif:Regular";      
  src: url('../fonts/hedvig-letters-serif-regular-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-A0, U+A2-A9, U+AC-AE, U+B0-B7, U+B9-BA, U+BC-BE, U+D7, U+F7, U+2000-206F, U+2074, U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}
